body {
  min-height:100vh;
  background-image:-webkit-linear-gradient(bottom left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-image:-o-linear-gradient(bottom left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-image:linear-gradient(to top right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

form#search {
  margin-top:5px;
}

.number {
  min-height:100px;
}

.panel-body {
  text-align:center;
}

#searchContainer {
  padding:15px;
}

@media screen and (max-width:768px) {
  #searchContainer .input-group {
    margin-bottom:10px;
  }
  #searchContainer button {
    width:100%;
  }
}

#auctionsRow .unit {
  padding-left:3px;
}

#accRunningAuctions {
  border-right:1px solid #eeeeee;
}

#progress {
  margin-top:20px;
}

#progress ol {
  padding-left:20px;
  color:#cccccc;
}

#progress .step-completed {
  color:#5cb85c;
}

#progress span.step-completed {
  display:none;
}

#viewAuctionModal .btn-success {
  width:100%;
  margin-top:20px;
}

#viewAuctionModal .modal-content {
  background-image:-webkit-linear-gradient(bottom left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-image:-o-linear-gradient(bottom left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-image:linear-gradient(to top right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#viewAuctionModal .modal-body {
  background-color:#ffffff;
}
